In [1]:
# creating a list -> []
runs_virat = [67, 54, 12, 34, 77, 89, 101]

# there is no limit to how many values you can store inside a list

In [2]:
runs_virat

[67, 54, 12, 34, 77, 89, 101]

In [3]:
type(runs_virat)

list

In [4]:
# HOW DO I ACCESS A VALUE

In [5]:
# Values in lists are accessible using indexes
# Indexes start at 0

In [6]:
runs_virat[0] # Indexing starts at 0 and thus 0 index corresponds to 1st position

67

In [8]:
runs_virat[4] # Runs in the 5th match

77

In [9]:
# If you want info at "nth" position -> "n-1"

In [10]:
len(runs_virat)

7

In [11]:
# HOW WOULD YOU GET THE RUNS SCORED IN THE LAST MATCH?

In [12]:
runs_virat

[67, 54, 12, 34, 77, 89, 101]

In [13]:
n = len(runs_virat)

In [14]:
runs_virat[n - 1]

101

In [15]:
runs_virat[len(runs_virat) - 1]

101

In [16]:
runs_virat[n - 2]

89

In [17]:
# NEGATIVE INDEXING

In [18]:
runs_virat[-1]

101

In [19]:
runs_virat[-2]

89

In [20]:
runs_virat[-3]

77

In [22]:
runs_virat[-n]

67

In [23]:
runs_virat[1000000]

IndexError: list index out of range

In [24]:
runs_virat

[67, 54, 12, 34, 77, 89, 101]

In [25]:
'''
Question 1 - 
Print total of the runs scored on odd numbered matches i.e. odd positions.
'''

'\nQuestion 1 - \nPrint total of the runs scored on odd numbered matches i.e. odd positions.\n'

In [27]:
runs_virat[0] + runs_virat[2] + runs_virat[4] + runs_virat[6]

257

In [28]:
# METHODS -> Special functions attached to python objects

In [29]:
runs = [67, 54, 12, 34, 77, 89, 101]

In [30]:
# 1. Append

In [31]:
runs.append(123)

In [32]:
runs

[67, 54, 12, 34, 77, 89, 101, 123]

In [33]:
runs = runs + [45]

In [34]:
runs

[67, 54, 12, 34, 77, 89, 101, 123, 45]

In [35]:
# 2. Insert

In [36]:
# list.insert(index, value)

In [37]:
runs.insert(2, 55)

In [38]:
runs

[67, 54, 55, 12, 34, 77, 89, 101, 123, 45]

In [39]:
# 3. Extend

In [40]:
runs

[67, 54, 55, 12, 34, 77, 89, 101, 123, 45]

In [41]:
runs.extend([100, 67, 89])

In [42]:
runs

[67, 54, 55, 12, 34, 77, 89, 101, 123, 45, 100, 67, 89]

In [43]:
runs.append([1, 2, 3])

In [45]:
runs # nested list

[67, 54, 55, 12, 34, 77, 89, 101, 123, 45, 100, 67, 89, [1, 2, 3]]

In [46]:
a = [1, 2, 3]

In [48]:
# Add multiple values to the list
a = a + [4, 5, 6] # extend

In [49]:
a

[1, 2, 3, 4, 5, 6]

In [50]:
a = [1, 2, 3]

In [54]:
# Add a single value to the list
a = a + [5] # append

In [53]:
a

[1, 2, 3, 5]

In [55]:
'''
Append -> Add a single value at the end.
Insert -> Add a single value at any index of your choice.
Extend -> Add multiple values at the end.
'''

'\nAppend -> Add a single value at the end.\nInsert -> Add a single value at any index of your choice.\nExtend -> Add multiple values at the end.\n'

In [58]:
[1,2,3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [59]:
a = "python"

In [60]:
for i in a:
    print(i)

p
y
t
h
o
n

In [61]:
a = [10, 20, 30, 40, 50, 60]

In [65]:
# TRAVERSAL METHOD 1 -> Iterates directly over the elements
for i in a:
    print(i)

10
20
30
40
50
60

In [69]:
# TRAVERSAL METHOD 2 -> Iterates over indexes and we use them to get elements
for i in range(len(a)):
    print(a[i])

10
20
30
40
50
60

In [68]:
# TRAVERSAL METHOD 3
i = 0

while i < len(a):
    print(a[i])
    i += 1

10
20
30
40
50
60

In [70]:
'''
Qustion 2 - 
runs_virat = [67, 54, 12, 34, 77, 89, 101]

In runs_virat -> Calculate, sum, avg, max and min runs.
Without using any internal functions. You can use the length function.
'''

'\nQustion 2 - \nruns_virat = [67, 54, 12, 34, 77, 89, 101]\n\nIn runs_virat -> Calculate, sum, avg, max and min runs.\nWithout using any internal functions. You can use the length function.\n'

In [71]:
runs_virat = [67, 54, 12, 34, 77, 89, 101]

In [72]:
sum(runs_virat)

434

In [73]:
max(runs_virat)

101

In [74]:
min(runs_virat)

12

In [75]:
sum(runs_virat) / len(runs_virat)

62.0

In [76]:
def custom_length(a):
    n = 0
    
    for i in a:
        n += 1
        
    return n

In [77]:
len_runs_virat = custom_length(runs_virat)

In [78]:
def custom_sum(a):
    SUM = 0
    
    for i in a:
        SUM += i
        
    return SUM

In [79]:
sum_runs_virat = custom_sum(runs_virat)

In [80]:
sum_runs_virat

434

In [81]:
average_runs_virat = sum_runs_virat / len_runs_virat

In [82]:
average_runs_virat

62.0

In [92]:
def custom_max(a):
    if len(a) == 0:
        return "EMPTY LIST!"
    
    MAX = a[0]
    
    for i in range(1, len(a)):
        if a[i] > MAX:
            MAX = a[i]
            
    return MAX


'''
DRY RUN ->

runs_virat = [67, 54, 12, 34, 77, 89, 101]

custom_max(runs_virat) ->
    MAX = a[0] -> 67
    
    for i in range(1, len(a)) ->
        i = 1 ->
            a[i] > MAX -> 54 > 67 -> False
        
        i = 2 ->
            12 > 67 -> False
            
        i = 3 ->
            34 > 67 -> False
            
        i = 4 ->
            77 > 67 -> True
            MAX = 77
            
        i = 5 ->
            89 > 77 -> True
            MAX = 89
            
        i = 6 ->
            101 > 89 -> True
            MAX = 101
            
    return MAX -> 101
'''

'\nDRY RUN ->\n\nruns_virat = [67, 54, 12, 34, 77, 89, 101]\n\ncustom_max(runs_virat) ->\n    MAX = a[0] -> 67\n    \n    for i in range(1, len(a)) ->\n        i = 1 ->\n            a[i] > MAX -> 54 > 67 -> False\n        \n        i = 2 ->\n            12 > 67 -> False\n            \n        i = 3 ->\n            34 > 67 -> False\n            \n        i = 4 ->\n            77 > 67 -> True\n            MAX = 77\n            \n        i = 5 ->\n            89 > 77 -> True\n            MAX = 89\n            \n        i = 6 ->\n            101 > 89 -> True\n            MAX = 101\n            \n    return MAX -> 101\n'

In [84]:
max_runs_virat = custom_max(runs_virat)

In [85]:
max_runs_virat

101

In [93]:
def custom_min(a):
    if len(a) == 0:
        return "EMPTY LIST!"
    
    MIN = a[0]
    
    for i in range(1, len(a)):
        if a[i] < MIN:
            MIN = a[i]
            
    return MIN

In [94]:
min_runs_virat = custom_min(runs_virat)

In [95]:
min_runs_virat

12

In [96]:
custom_min([])

'EMPTY LIST!'

In [97]:
'''
Question 3 -
Calculate average of runs scored by virat
in all matches with an even index.
'''

'\nQuestion 3 -\nCalculate average of runs scored by virat\nin all matches with an even index.\n'

In [98]:
sum_runs = 0
count = 0

for i in range(len(runs_virat)):
    if i % 2 == 0:
        sum_runs += runs_virat[i]
        count += 1

In [99]:
sum_runs / count

64.25

In [100]:
a = [1,2,3,4,5]

In [101]:
a[0] = 10

In [103]:
a # List are mutable -> They can be modified

[10, 2, 3, 4, 5]

In [104]:
a = [10, 20, 30, 40, 50, 60]

In [105]:
# There are two ways to delete elements from a list

In [106]:
# DELETE BY INDEX

In [107]:
a.pop(2)

30

In [108]:
a

[10, 20, 40, 50, 60]

In [109]:
a.pop()

60

In [112]:
a # Last element is popped by defeault if no argument is provided

[10, 20, 40, 50]

In [113]:
# DELETE BY VALUE

In [114]:
a = [10, 20, 30, 40, 50, 60]

In [115]:
a.remove(40)

In [116]:
a

[10, 20, 30, 50, 60]

In [117]:
a = [10, 20, 30, 40, 50, 40, 40, 60]

In [118]:
a.remove(40)

In [119]:
a

[10, 20, 30, 50, 40, 40, 60]

In [120]:
a = [10,20,30,40,50,60]

In [122]:
50 in a # MEMBERSHIP OPERATOR

True

In [123]:
70 in a

False

In [124]:
def remove_all(a, target):
    while True:
        if target in a:
            a.remove(target)
            continue
        
        break
        
    return a

In [125]:
a = [10, 20, 30, 40, 50, 40, 40, 60]

In [127]:
a = remove_all(a, 40)

In [128]:
a

[10, 20, 30, 50, 60]

In [129]:
def remove_all(a, target):
    while True:
        if target not in a:
            break
        
        a.remove(target)
        
    return a

In [130]:
def remove_all(a, target):
    while target in a:
        a.remove(target)
        
    return a

In [131]:
# LISTS ARE HETEROGENEOUS

In [132]:
a = ["bipin", 56, 89.8, True, [1,2,3,4]]

In [133]:
a[0]

'bipin'

In [134]:
a[-1]

[1, 2, 3, 4]