In [1]:
a = [10,20,30,40,50]

In [2]:
a[0] = 100

In [3]:
a

[100, 20, 30, 40, 50]

In [4]:
a = (10,20,30,40,50)

In [5]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [6]:
a = {
    "key1" : "value1",
    "key2" : "value2"
}

# HETEROGENEITY WILL ALSO BE COVERED!

In [7]:
# state -> number of people living in that state (in million)

In [8]:
# Approach 1 -> List of tuples
state_wise_data = [("Delhi", 20), ("Haryana", 35), ("UP", 100)]

In [10]:
state_wise_data

[('Delhi', 20), ('Haryana', 35), ('UP', 100)]

In [12]:
state_wise_data[1][1]

35

In [14]:
# Approach 2 -> Dictionary
state_wise_data = {
    "Delhi": 20,
    "Haryana": 35,
    "UP": 100
}

In [15]:
state_wise_data["Delhi"]

20

In [16]:
state_wise_data["UP"]

100

In [17]:
# KEYS ARE ALWAYS UNIQUE

In [19]:
state_wise_data[0] # numerical indexes do not exist just like a set

KeyError: 0

In [20]:
state_wise_data.Delhi # This is not allowed in Python

AttributeError: 'dict' object has no attribute 'Delhi'

In [21]:
state_wise_dictionary

NameError: name 'state_wise_dictionary' is not defined

In [22]:
a = {}

In [23]:
type(a)

dict

In [24]:
a = {
    "Delhi": 20,
    "Haryana": 35,
    "UP": 100
}

In [25]:
a["Delhi"] = 25

In [26]:
a

{'Delhi': 25, 'Haryana': 35, 'UP': 100}

In [38]:
a = {
    "Delhi": 20,
    "Haryana": 35,
    "UP": 100,
    "Delhi": 30
}

In [39]:
a # Keys are always unique

{'Delhi': 30, 'Haryana': 35, 'UP': 100}

In [40]:
a

{'Delhi': 30, 'Haryana': 35, 'UP': 100}

In [41]:
a["Maharashtra"] = 75
# New key value pairs can be added

In [42]:
a

{'Delhi': 30, 'Haryana': 35, 'UP': 100, 'Maharashtra': 75}

In [43]:
a["delhi"] = "Random"

In [34]:
a

{'Delhi': 30, 'Haryana': 35, 'UP': 100, 'Maharashtra': 75, 'delhi': 'Random'}

In [44]:
a

{'Delhi': 30, 'Haryana': 35, 'UP': 100, 'Maharashtra': 75, 'delhi': 'Random'}

In [45]:
'''
HETEROGENEITY -
    - Keys -> Strings
    - Values -> Any python object
'''

'\nHETEROGENEITY -\n    - Keys -> Strings\n    - Values -> Any python object\n'

In [46]:
Avenger = {
    "name" : "Thor",
    "age" : 1500,
    "weapon" : ["stormbreaker", "mjolnir"]
}

In [47]:
# Add and update values together

In [48]:
Avenger.update({
    "name": "Thor Odinson",
    "weapon": ["stormbreaker"],
    "strongest?": True,
    "eyes": 1
})

In [49]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [50]:
random = {
    "a": 1,
    "b": 2,
    "c": 3,
    "d": None
}

In [51]:
random["b"]

2

In [52]:
random["e"]

KeyError: 'e'

In [53]:
# GET FUNCTION

In [54]:
random.get("e")

In [55]:
result = random.get("e")

In [57]:
print(result) # simply returns None if a key is not present

None

In [60]:
result = random.get("e", "Not Found!")
# A default value can also be specified!

In [61]:
result

'Not Found!'

In [62]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [64]:
Avenger["weapon"].append("mjolnir")

In [65]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker', 'mjolnir'],
 'strongest?': True,
 'eyes': 1}

In [66]:
Avenger.update({
    "weapon" : ['stormbreaker', 'mjolnir']
})

In [67]:
# CRUD -> Create, Read, Update, Delete

In [68]:
random

{'a': 1, 'b': 2, 'c': 3, 'd': None}

In [69]:
random.pop("d")

In [70]:
random

{'a': 1, 'b': 2, 'c': 3}

In [71]:
random.pop("b")

2

In [72]:
random

{'a': 1, 'c': 3}

In [73]:
random.pop()

TypeError: pop expected at least 1 argument, got 0

In [74]:
'''
Question 1 - 
Given two dictionaries A and B, 
Write a python program to merge these dictionaries.

Example -
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

Result = {
    "a" : 4,
    "b" : 1,
    "c" : 6,
    "d" : 20
}
'''

'\nQuestion 1 - \nGiven two dictionaries A and B, \nWrite a python program to merge these dictionaries.\n\nExample -\nA = {\n    "a" : 4,\n    "b" : 5,\n    "c" : 6\n}\n\nB = {\n    "b" : 1,\n    "d" : 20\n}\n\nResult = {\n    "a" : 4,\n    "b" : 1,\n    "c" : 6,\n    "d" : 20\n}\n'

In [75]:
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

In [76]:
A.update(B)

In [77]:
A

{'a': 4, 'b': 1, 'c': 6, 'd': 20}

In [78]:
result = {1,2,3} | {4,5,6}

In [79]:
result

{1, 2, 3, 4, 5, 6}

In [80]:
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

In [81]:
result = A | B

In [82]:
result

{'a': 4, 'b': 1, 'c': 6, 'd': 20}

In [1]:
# ITERATION IN A DICTIONARY

In [3]:
a = {
    'name': 'Thor Odinson',
    'age': 1500,
    'weapon': ['stormbreaker', 'mjolnir'],
    'strongest?': True,
    'eyes': 1
}

In [4]:
a

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker', 'mjolnir'],
 'strongest?': True,
 'eyes': 1}

In [6]:
for i in a: # traveral on keys by default
    print(i)

name
age
weapon
strongest?
eyes

In [7]:
for i in a: # traversal on values using keys
    print(a[i])

Thor Odinson
1500
['stormbreaker', 'mjolnir']
True
1

In [8]:
for i in a:
    print(f"{i} -> {a[i]}")

name -> Thor Odinson
age -> 1500
weapon -> ['stormbreaker', 'mjolnir']
strongest? -> True
eyes -> 1

In [11]:
for i in a.keys():
    print(i)

name
age
weapon
strongest?
eyes

In [12]:
list(a.keys())

['name', 'age', 'weapon', 'strongest?', 'eyes']

In [13]:
for i in a.values():
    print(i)

Thor Odinson
1500
['stormbreaker', 'mjolnir']
True
1

In [14]:
list(a.items())

[('name', 'Thor Odinson'),
 ('age', 1500),
 ('weapon', ['stormbreaker', 'mjolnir']),
 ('strongest?', True),
 ('eyes', 1)]

In [15]:
for i in a.items():
    print(i)

('name', 'Thor Odinson')
('age', 1500)
('weapon', ['stormbreaker', 'mjolnir'])
('strongest?', True)
('eyes', 1)

In [16]:
x, y = (45, 67)

In [17]:
x

45

In [18]:
y

67

In [21]:
for i in a.items():
    print(f"{i[0]} -> {i[1]}")

name -> Thor Odinson
age -> 1500
weapon -> ['stormbreaker', 'mjolnir']
strongest? -> True
eyes -> 1

In [20]:
for key, value in a.items(): # UNPACKING
    print(f"{key} -> {value}")

name -> Thor Odinson
age -> 1500
weapon -> ['stormbreaker', 'mjolnir']
strongest? -> True
eyes -> 1

In [22]:
a

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker', 'mjolnir'],
 'strongest?': True,
 'eyes': 1}

In [26]:
"name" in a.keys()

True

In [29]:
"eyes" in a

True

In [28]:
"battle" in a.keys()

False

In [31]:
'''
Question 2 - 
1. Take a string as input.
2. Create a dictionary acc to the following criteria - 
- There will be one key value pair for each unique character - 
- Key will be character and value will be the count of character inside the string

INPUT - "rrsssstttt"
OUTPUT -
{
    "r": 2,
    "s": 4,
    "t": 4
}
'''

'\nQuestion 2 - \n1. Take a string as input.\n2. Create a dictionary acc to the following criteria - \n- There will be one key value pair for each unique character - \n- Key will be character and value will be the count of character inside the string\n\nINPUT - "rrsssstttt"\nOUTPUT -\n{\n    "r": 2,\n    "s": 4,\n    "t": 4\n}\n'

In [32]:
a = "rrsssstttt"

In [33]:
a.count("t")

4

In [34]:
set(a)

{'r', 's', 't'}

In [35]:
def character_counter(s):
    result = {}
    
    for i in set(s):
        result[i] = s.count(i)
    
    return result

In [36]:
character_counter("THIS WAS ABSOLUTELY AMAZING!!!!!")

{'E': 1,
 'S': 3,
 'T': 2,
 'H': 1,
 'L': 2,
 'N': 1,
 'O': 1,
 'Y': 1,
 'G': 1,
 'I': 2,
 ' ': 3,
 'A': 4,
 'Z': 1,
 'W': 1,
 '!': 5,
 'U': 1,
 'M': 1,
 'B': 1}

In [37]:
'''
HETEROGENEITY -
    - Keys -> Any immutable data structure (strings, tuples, int, float, bool...)
    - Values -> Any data structure 
'''

'\nHETEROGENEITY -\n    - Keys -> Any immutable data structure (strings, tuples, int, float, bool...)\n    - Values -> Any data structure \n'

In [38]:
random = {
    "key1": [1,2,3],
    "key2": {
        (1,2,3): 45
    },
    45: "value1",
    45.67: "Value2",
    True: "value3"
}

In [39]:
random

{'key1': [1, 2, 3],
 'key2': {(1, 2, 3): 45},
 45: 'value1',
 45.67: 'Value2',
 True: 'value3'}

In [41]:
random = {
    "key1": [1,2,3],
    "key2": {
        (1,2,3): 45
    },
    45: "value1",
    45.67: "Value2",
    True: "value3",
    [1,2,3]: "random"
}

TypeError: unhashable type: 'list'

In [44]:
vowels = "aeiou"

In [46]:
consonants = ""

for i in range(ord("a"), ord("z")):
    if chr(i) not in vowels:
        consonants += chr(i)

In [47]:
consonants

'bcdfghjklmnpqrstvwxy'