In [11]:
for i in range(2, 5):
    print(i)

2
3
4

In [12]:
range(2, 5)

range(2, 5)

In [13]:
range(5) # 0 is the default starting value if only end is provided

range(0, 5)

In [5]:
range(1.7, 8.7) # float values are not allowed

TypeError: 'float' object cannot be interpreted as an integer

In [6]:
range(1, 8, 0.5)

TypeError: 'float' object cannot be interpreted as an integer

In [7]:
range(1, 7, 0)

ValueError: range() arg 3 must not be zero

In [8]:
for i in range(5, 2, -1):
    print(i)

5
4
3

In [14]:
len(range(1,8))

7

In [15]:
len(range(1,9,2))

4

In [16]:
len(range(29,9,2))

0

In [18]:
'''
Question 1 - 
Print all integers from 1 to N using for loop. (N to be included)
Take N as input from the user.
'''

'\nQuestion 1 - \nPrint all integers from 1 to N using for loop. (N to be included)\nTake N as input from the user.\n'

In [19]:
N = int(input())

for i in range(1, N + 1):
    print(i, end = " ")

10
1 2 3 4 5 6 7 8 9 10

In [20]:
'''
Question 2 - 
Take N as input from the user.
Calculate the sum of all numbers from 1 to N (N is included).
'''

'\nQuestion 2 - \nTake N as input from the user.\nCalculate the sum of all numbers from 1 to N (N is included).\n'

In [25]:
N = int(input())

final_sum = 0

for value in range(1, N + 1):
    final_sum += value # final_sum = final_sum + value

print("The final sum is -", final_sum)

10
The final sum is - 55

In [26]:
'''
Dry Run - 
N = 3
final_sum = 0

START OF FOR LOOP ->
Iteration 1 - 
    value = 1
    final_sum = final_sum + value -> final_sum = 0 + 1 = 1
    
Iteration 2 - 
    value = 2
    final_sum = 1 + 2 = 3

Iteration 3 - 
    value = 3
    final_sum = 3 + 3 = 6
'''

'\nDry Run - \nN = 3\nfinal_sum = 0\n\nSTART OF FOR LOOP ->\nIteration 1 - \n    value = 1\n    final_sum = final_sum + value -> final_sum = 0 + 1 = 1\n    \nIteration 2 - \n    value = 2\n    final_sum = 1 + 2 = 3\n\nIteration 3 - \n    value = 3\n    final_sum = 3 + 3 = 6\n'

In [27]:
'''
Question 3 - 
FACTORIAL ->
Take N an input from the user.
Calculate the product of all numbers from 1 to N (N is included).
'''

'\nQuestion 3 - \nFACTORIAL ->\nTake N an input from the user.\nCalculate the product of all numbers from 1 to N (N is included).\n'

In [28]:
N = int(input())

factorial = 1

for i in range(1, N + 1):
    factorial *= i
    
print(factorial)

6
720

In [30]:
N = int(input())

factorial = N

for i in range(N - 1, 0, -1):
    factorial *= i
    
print(factorial)

6
720

In [31]:
'''
Question 4 - 
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. Both included.
'''

'\nQuestion 4 - \nTake N as input from the user.\nCalculate the product of all even numbers between 1 and N. Both included.\n'

In [32]:
N = int(input())

even_product = 1

for i in range(2, N + 1, 2):
    even_product *= i
    
print(even_product)

9
384

In [34]:
'''
Question 5 - 
Take start and end as input from the user.
Calculate the product of all even numbers between start and end.
Both included.

GIVEN - Both start and end will be greater than 0.
'''

'\nQuestion 5 - \nTake start and end as input from the user.\nCalculate the product of all even numbers between start and end.\nBoth included.\n\nGIVEN - Both start and end will be greater than 0.\n'

In [35]:
# Solution 1

start = int(input("Start - "))
end = int(input("End - "))

even_product = 1

for i in range(start, end + 1):
    if i % 2 == 0:
        even_product *= i
        
print("Even Product -", even_product)

Start - 2
End - 9
Even Product - 384

In [37]:
# Solution 2

start = int(input("Start - "))
end = int(input("End - "))

even_product = 1

if start % 2 == 0:
    new_start = start
else:
    new_start = start + 1
    
for i in range(new_start, end + 1, 2):
    even_product *= i
    
print("Even Product -", even_product)

Start - 2
End - 9
Even Product - 384

In [38]:
'''
Question 6 -
Print all the numbers from an input N to 1 in reverse order.
N > 1 -> Given
'''

'\nQuestion 6 -\nPrint all the numbers from an input N to 1 in reverse order.\nN > 1 -> Given\n'

In [39]:
N = int(input())

for i in range(N, 0, -1):
    print(i, end = " ")

9
9 8 7 6 5 4 3 2 1

In [40]:
'''
Question 7 -
Print all the numbers from an input N to 1 in reverse order.
Without using a negative jump!
N > 1 -> Given
'''

'\nQuestion 7 -\nPrint all the numbers from an input N to 1 in reverse order.\nWithout using a negative jump!\nN > 1 -> Given\n'

In [41]:
# Solution 1 

N = int(input())

for i in range(N):
    print(N - i, end = " ")

9
9 8 7 6 5 4 3 2 1

In [42]:
# Solution 2

N = int(input())

for i in range(-N, 0):
    print(-i, end = " ")

9
9 8 7 6 5 4 3 2 1

In [45]:
name = "Bipin Kalra"
# strings are also iterable in python

for i in name:
    print(i)

B
i
p
i
n

K
a
l
r
a