In [ ]:
# 1 n= 4
" * * * *
  * * * *
  * * * * 
  * * * *"

In [5]:
n = int(input())
for i in range(n):#0,1,2,3,4
    print("* "*n)

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [2]:
"Shutp!!!!"*5

'Shutp!!!!Shutp!!!!Shutp!!!!Shutp!!!!Shutp!!!!'

In [6]:
n = int(input())
for i in range(n):#0,1,2,3,4 #rows
    for j in range(n):#columns
        print("*")

5
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [9]:
n = int(input())
for i in range(n):#0,1,2,3,4 #rows
    for j in range(n):#columns
        print("*",end=" ")

5
* * * * * * * * * * * * * * * * * * * * * * * * *

In [10]:
n = int(input())
for i in range(n):#0,1,2,3,4 #rows
    for j in range(n):#columns
        print("*",end=" ")
    print() # after very row I want a new line

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [7]:
print("Hello")
print("World")

Hello
World

In [8]:
print("Hello",end=" ")
print("World")

Hello World

In [ ]:
# 1 n= 4
" A A A A
  B B B B
  C C C C 
  D D D D"

In [18]:
n = int(input())
for i in range(n):#0,1,2,3,4 #rows
    for j in range(n):#columns
        print(chr(65+i),end=" ")
    print() # after very row I want a new line

5
A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [13]:
chr(65)# Ascii

'A'

In [14]:
chr(66)

'B'

In [15]:
chr(67)

'C'

In [16]:
ord("A") #find the ascii

65

In [20]:
ord("{"),chr(23)

(123, '\x17')

In [21]:
ord("R")

82

In [17]:
ord("B")

66

In [ ]:
# 1 n= 4
" 1 1 1 1
  2 2 2 2
  3 3 3 3 
  4 4 4 4"

In [22]:
n = int(input())
for i in range(n):#0,1,2,3,4 #rows
    for j in range(n):#columns
        print(i+1,end=" ")
    print() # after very row I want a new line

5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
# 1 n= 4
" *
  * *
  * * * 
  * * * *"

In [26]:
n = int(input())
for i in range(n):#0,1,2,3,4 #rows
    for j in range(i+1): # how many elements are there in j
        print("*",end=" ")
    print()

5
*
* *
* * *
* * * *
* * * * *

In [27]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(10):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2
5 0
5 1
5 2
6 0
6 1
6 2
7 0
7 1
7 2
8 0
8 1
8 2
9 0
9 1
9 2

In [ ]:
*
*2
*2*
*2*4
*2*4*
*2*4*6
*2*4*6*
*2*4*6*8
*2*4*6*8*
*2*4*6*8*10

In [ ]:
# odd= stars

In [30]:
n = int(input())

10

In [31]:
for i in range(1,n+1):#0,1,2,3,4 #rows
    for j in range(1,i+1): # how many elements are there in j
        if j%2==1:#odd:
            print("*",end ="")
        else:
            print(j,end="")
    print()

*
*2
*2*
*2*4
*2*4*
*2*4*6
*2*4*6*
*2*4*6*8
*2*4*6*8*
*2*4*6*8*10

" 55555
  54445
  54345
  54445
  55555

In [33]:
n = int(input())
for i in range(n):#0,1,2,3,4 #rows
    for j in range(n):#columns
        print(max(i,j,n-i-1,n-j-1)+1,end="")
    print()

7
7777777
7666667
7655567
7654567
7655567
7666667
7777777

In [36]:
for i in range(10):#control structure 
    # What I needd to print multiple
    print("Hello")
    print("Ritu")
print("Bye")

Hello
Ritu
Hello
Ritu
Hello
Ritu
Hello
Ritu
Hello
Ritu
Hello
Ritu
Hello
Ritu
Hello
Ritu
Hello
Ritu
Hello
Ritu
Bye