In [1]:
a = [10,20,30,40,50]

In [2]:
a[0] = 100

In [3]:
a

[100, 20, 30, 40, 50]

In [4]:
a = (10,20,30,40,50)

In [5]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [6]:
a = {
    "key1" : "value1",
    "key2" : "value2"
}

# HETEROGENEITY WILL ALSO BE COVERED!

In [7]:
# state -> number of people living in that state (in million)

In [8]:
# Approach 1 -> List of tuples
state_wise_data = [("Delhi", 20), ("Haryana", 35), ("UP", 100)]

In [10]:
state_wise_data

[('Delhi', 20), ('Haryana', 35), ('UP', 100)]

In [12]:
state_wise_data[1][1]

35

In [14]:
# Approach 2 -> Dictionary
state_wise_data = {
    "Delhi": 20,
    "Haryana": 35,
    "UP": 100
}

In [15]:
state_wise_data["Delhi"]

20

In [16]:
state_wise_data["UP"]

100

In [17]:
# KEYS ARE ALWAYS UNIQUE

In [19]:
state_wise_data[0] # numerical indexes do not exist just like a set

KeyError: 0

In [20]:
state_wise_data.Delhi # This is not allowed in Python

AttributeError: 'dict' object has no attribute 'Delhi'

In [21]:
state_wise_dictionary

NameError: name 'state_wise_dictionary' is not defined

In [22]:
a = {}

In [23]:
type(a)

dict

In [24]:
a = {
    "Delhi": 20,
    "Haryana": 35,
    "UP": 100
}

In [25]:
a["Delhi"] = 25

In [26]:
a

{'Delhi': 25, 'Haryana': 35, 'UP': 100}

In [38]:
a = {
    "Delhi": 20,
    "Haryana": 35,
    "UP": 100,
    "Delhi": 30
}

In [39]:
a # Keys are always unique

{'Delhi': 30, 'Haryana': 35, 'UP': 100}

In [40]:
a

{'Delhi': 30, 'Haryana': 35, 'UP': 100}

In [41]:
a["Maharashtra"] = 75
# New key value pairs can be added

In [42]:
a

{'Delhi': 30, 'Haryana': 35, 'UP': 100, 'Maharashtra': 75}

In [43]:
a["delhi"] = "Random"

In [34]:
a

{'Delhi': 30, 'Haryana': 35, 'UP': 100, 'Maharashtra': 75, 'delhi': 'Random'}

In [44]:
a

{'Delhi': 30, 'Haryana': 35, 'UP': 100, 'Maharashtra': 75, 'delhi': 'Random'}

In [45]:
'''
HETEROGENEITY -
    - Keys -> Strings
    - Values -> Any python object
'''

'\nHETEROGENEITY -\n    - Keys -> Strings\n    - Values -> Any python object\n'

In [46]:
Avenger = {
    "name" : "Thor",
    "age" : 1500,
    "weapon" : ["stormbreaker", "mjolnir"]
}

In [47]:
# Add and update values together

In [48]:
Avenger.update({
    "name": "Thor Odinson",
    "weapon": ["stormbreaker"],
    "strongest?": True,
    "eyes": 1
})

In [49]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [50]:
random = {
    "a": 1,
    "b": 2,
    "c": 3,
    "d": None
}

In [51]:
random["b"]

2

In [52]:
random["e"]

KeyError: 'e'

In [53]:
# GET FUNCTION

In [54]:
random.get("e")

In [55]:
result = random.get("e")

In [57]:
print(result) # simply returns None if a key is not present

None

In [60]:
result = random.get("e", "Not Found!")
# A default value can also be specified!

In [61]:
result

'Not Found!'

In [62]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [64]:
Avenger["weapon"].append("mjolnir")

In [65]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker', 'mjolnir'],
 'strongest?': True,
 'eyes': 1}

In [66]:
Avenger.update({
    "weapon" : ['stormbreaker', 'mjolnir']
})

In [67]:
# CRUD -> Create, Read, Update, Delete

In [68]:
random

{'a': 1, 'b': 2, 'c': 3, 'd': None}

In [69]:
random.pop("d")

In [70]:
random

{'a': 1, 'b': 2, 'c': 3}

In [71]:
random.pop("b")

2

In [72]:
random

{'a': 1, 'c': 3}

In [73]:
random.pop()

TypeError: pop expected at least 1 argument, got 0

In [74]:
'''
Question 1 - 
Given two dictionaries A and B, 
Write a python program to merge these dictionaries.

Example -
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

Result = {
    "a" : 4,
    "b" : 1,
    "c" : 6,
    "d" : 20
}
'''

'\nQuestion 1 - \nGiven two dictionaries A and B, \nWrite a python program to merge these dictionaries.\n\nExample -\nA = {\n    "a" : 4,\n    "b" : 5,\n    "c" : 6\n}\n\nB = {\n    "b" : 1,\n    "d" : 20\n}\n\nResult = {\n    "a" : 4,\n    "b" : 1,\n    "c" : 6,\n    "d" : 20\n}\n'

In [75]:
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

In [76]:
A.update(B)

In [77]:
A

{'a': 4, 'b': 1, 'c': 6, 'd': 20}

In [78]:
result = {1,2,3} | {4,5,6}

In [79]:
result

{1, 2, 3, 4, 5, 6}

In [80]:
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

In [81]:
result = A | B

In [82]:
result

{'a': 4, 'b': 1, 'c': 6, 'd': 20}